<div class="tw-flex tw-flex-col w-full h-screen tw-place-content-center tw-items-center bg-local tw-px-10 " style="background-image: url('./assets/images/bgg.png');
background-repeat: repeat;width: 100%;
  height: 100%;">

    <div class="tw-w-full md:tw-w-3/5 lg:tw-w-1/3 tw-px-5 md:tw-px-10 tw-py-10 md:tw-py-20 lg:tw-py-30  tw-bg-gradient-to-r tw-from-sky-500 tw-to-indigo-500 
        tw-shadow-2xl tw-drop-shadow-xl tw-rounded-lg tw-opacity-90">
        <div class="tw-flex tw-flex-col">

            <div class="tw-place-content-center tw-items-center">
                <div class="tw-text-center">
                <img class="tw-mx-auto tw-h-28 tw-w-auto tw-text-center" src="./assets/images/moph_logo.png" alt="IPD Paperless">
            </div>
                <h2
                    class="tw-mt-10 tw-text-center tw-text-2xl tw-font-bold tw-leading-9 tw-tracking-tight tw-text-gray-900">
                    SMART IPD</h2>
            </div>
            <div class="w-full">
                <p-messages></p-messages>
            </div>
            <div class="tw-mt-6 sm:tw-mx-auto sm:tw-w-full sm:tw-max-w-sm">
                <form class="tw-space-y-3" method="POST" name="form" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
                    <div class="w-full mb-4">
                        <span class="p-input-icon-right w-full">
                            <i class="pi pi-user ml-4"></i>
                            <input type="text" id="username" name="username" formControlName="username" required
                                pInputText placeholder="Username" class="col-12">
                        </span>
                    </div>


                    <!-- <span class="p-input-icon-left col-12">
                            <i class="pi pi-key ml-4"></i>
                            <input type="password" formControlName="password" pInputText placeholder="Password"
                                class="col-12">

                        </span> -->
                    <div class="h-fit w-full ">

                        <span> <p-password type="password" formControlName="password" class="w-full" [feedback]="false"
                                placeholder="Password"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right "
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [toggleMask]="true"></p-password></span>

                    </div>

                    <div class="tw-text-sm">
                        <a href="#" class="tw-font-semibold tw-text-indigo-800 hover:tw-text-indigo-700">Forgot
                            password?</a>
                    </div>

                    <div>
                        <!-- <div
                            class="w-full tw-h-16 tw-ripple tw-opacity-100 tw-rounded tw-text-2xl tw-leading-6 tw-text-white tw-text-center "                            >

                            <p-button label="เข้าสู่ระบบ" icon="pi pi-check"  severity="help" type="submit" [loading]="loading"  class="p-button-rounded p-button-warning tw-rounded w-full"></p-button>
                       


                        </div> -->
                        <button type="submit"
                            class="w-full tw-h-16 tw-ripple tw-opacity-100 tw-text-xl tw-font-bold tw-leading-9 tw-tracking-tight tw-text-gray-900 tw-border-2 border-amber-900 tw-rounded-full tw-bg-gradient-to-r tw-from-amber-500 tw-via-yellow-300 tw-to-pink-500 hover:tw-bg-gradient-to-l tw-from-indigo-800 tw-via-purple-800 tw-text-2xl tw-leading-6 tw-text-center  focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-indigo-600">
                            <i *ngIf="loading" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                            <i *ngIf="!loading" class="pi pi-check " style="font-size: 1.5rem"></i>
                            เข้าสู่ระบบ
                        </button>

                        <!-- <button (click)="logings()"
                            class="w-full h-12 tw-ripple tw-opacity-100 tw-rounded-full tw-bg-gradient-to-r tw-from-indigo-500 tw-via-purple-500 tw-to-pink-500 hover:tw-bg-gradient-to-l tw-from-indigo-800 tw-via-purple-800 tw-text-2xl tw-leading-6 tw-text-white tw-text-center  focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-indigo-600">ByPass</button> -->

                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<app-config [minimal]="true"></app-config>