<div class="grid">
    <div class="col-12">
        <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">
            <div class="flex align-items-center">
                <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                    class="border-circle border-2 border-primary flex-shrink-0" />
                <div class="ml-3">
                    <span class="text-4xl font-light">Bonjour, <span class="font-normal">Hermione</span></span>
                    <div class="text-color-secondary">26 January 2023, Thu</div>
                </div>
            </div>
            <!-- <div class="flex align-items-center justify-content-between gap-3">
                <p-dropdown [options]="analytics" [(ngModel)]="selectedDrop" placeholder="Category" styleClass="w-full sm:w-10rem"></p-dropdown>
                <p-calendar [showIcon]="true" selectionMode="range" styleClass="w-full sm:w-14rem" placeholder="Select Range"></p-calendar>
            </div> -->
        </div>
    </div>



    <div class="col-12">
        <div class="card">
            <h5>รายการตึก</h5>
            <p-dataView #dv [value]="wards" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <p-dropdown [options]="sortOptions" placeholder="เรียงตามชื่อตึก"
                            (onChange)="onSortChange($event)"></p-dropdown>
                        <!-- <span class="">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                      
                        </span> -->
                        <div>
                            <div class="p-inputgroup">
                                <input type="text" pInputText class="border-1 border-gray-400 pl-2" placeholder="ค้นหา"
                                    (input)="onFilter(dv, $event)">
                                <button type="button" pButton pRipple icon="pi pi-search"></button>
                            </div>
                        </div>

                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-wards pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-start p-3 w-full">
                            <div class="flex-1 flex flex-column align-items-start text-start md:text-left">
                                <div class="font-bold text-2xl">{{wards.name}}</div>

                            </div>

                            <div class="flex-1 flex flex-column align-items-start text-left md:text-left">
                                <div class="flex flex-wrap">

                                    <p-button styleClass="p-button-outlined p-button-info min-w-180">
                                        <i class="fa-solid fa-bed mr-2"></i>
                                        <span class="ml-2 font-bold">จำนวนเตียง {{wards.bed_amount}}</span>
                                    </p-button>
                                    &nbsp;
                                    <p-button styleClass="p-button-outlined p-button-warning min-w-80">
                                        <i class="fa-solid fa-user mr-2"></i>
                                        <span class="ml-2 font-bold">จำนวนผู้ป่วย {{wards.patient_admit}}</span>
                                    </p-button>



                                </div>
                            </div>
                            <div
                                class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                             
                                <div class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">
                                    <button pButton pRipple type="button" label="แพทย์ Order
                                    แล้ว"
                                        class="p-button-outlined p-button-success"> {{wards.current_doctor_order}} &nbsp; &nbsp;
                                        </button>

                                </div>


                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-wards pTemplate="gridItem">

                    <div class="col-12 md:col-4 lg:col-4 xl:col-3">
                        <div
                            class="card m-3 border-1 surface-border cursor-pointer  hover:scale-110 duration-300 hover:-translate-y-1 ">
                            <div class="flex align-items-center mb-3">
                                <p-avatar icon="pi pi-home" size="large" shape="circle"
                                    styleClass="text-base bg-purple-100 text-purple-700"></p-avatar>
                                <span class="text-xl ml-2"> {{wards.name}}</span>
                            </div>
                            <div class="flex align-items-center justify-content-between mb-3">
                                <!-- <span class="block font-bold text-6xl mb-3">{{wards.bed_amount}}</span> -->

                                <div class="col-8 flex p-2 surface-50 border-round-top">
                                    <div class="p-2 flex-auto text-center md:text-left">
                                        <span class="text-700 text-sm block">เตียง</span>
                                        <span
                                            class="text-900 font-medium text-xl block mt-2">{{wards.bed_amount}}</span>
                                    </div>
                                    <p-divider align="center" layout="vertical"
                                        styleClass="h-full  mx-0 lg:mx-3 surface-border"></p-divider>
                                    <div class="p-2 flex-auto text-center md:text-left">
                                        <span class="text-700 text-sm block">ผู้ป่วย</span>
                                        <span
                                            class="text-900 font-medium text-xl block mt-2">{{wards.patient_admit}}</span>
                                    </div>

                                </div>

                                <div
                                    class="flex align-items-center justify-content-between h-2rem px-2 py-1 bg-green-100 text-green-900 border-round">
                                    <i class="pi pi-users" style="color: #708090"></i>
                                    <span class="font-bold ml-1">{{wards.current_doctor_order}}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>