<div class="card">
    <h5>RadioButton</h5>
    <div class="grid formgrid">
        <div class="col-12 md:col-4">
            <div class="field-radiobutton">
                <p-radioButton name="city" value="false" [(ngModel)]="is_chronic" id="city1"></p-radioButton>
                <label for="city1">ไม่มี</label>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field-radiobutton">
                <p-radioButton name="city" value="true" [(ngModel)]="is_chronic" id="city2"></p-radioButton>
                <label for="city2">มี</label>
            </div>
        </div>
       
    </div>

    <div class="grid ">
        <div class="col-12 md:col-4">
            <div class="field-radiobutton">
                <p-radioButton name="is_chronic" value="false" [(ngModel)]="is_chronic" id="city1"></p-radioButton>
                <label for="city1">ไม่มี</label>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field-radiobutton">
                <p-radioButton name="is_chronic" value="true" [(ngModel)]="is_chronic" id="city2"></p-radioButton>
                <label for="city2">มี</label>
            </div>
        </div>
       
    </div>

    <!-- <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
        <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
            <div class="font-bold w-11rem">โรคประจำตัว</div>
            <div class="mr-6">
                <p-radiobutton name="cc" value="false" [(ngModel)]="is_chronic"  id="is_chronic1"></p-radiobutton>
                <label for="is_chronic1" class="ml-2">ไม่มี</label>
            </div>
            <div><p-radiobutton name="cc" value="true" [(ngModel)]="is_chronic"  id="is_chronic2"></p-radiobutton>
                <label for="is_chronic2" class="ml-2">มี</label>
            </div>
        </div>
    </div> -->
</div>
